{% extends 'base.html' %}

{% block body %}
<h1>random-person-api</h1>
<hr>
<br>
<main>
  <p>API que entrega dados aleatórios sobre pessoas que (provavelmente) não existem.</p>
  <article class="como_usar">
    <br>
    <h3>Como usar?</h3>
    <br>
    <p>Copie o link abaixo</p>
    <a href="https://random-person-api.choccy-milk.repl.co/api" class="api_link">https://random-person-api.choccy-milk.repl.co/api</a>
    <p>e digite no seu editor de código: <br><i><strong>AVISO: este é apenas um exemplo de uso em python.</strong></i></p><br>
   <pre>
import requests 
import json 

api = requests.get('https://random-person-api.choccy-milk.repl.co/api')
resposta = json.loads(api.text)

# pega o nome
nome = resposta['nome']
# pega o email
email = resposta['email']
# pega a idade
idade = resposta['idade']
# pega a senha
senha = resposta['senha']
# pega o estado civil
estado_civil = resposta['estado_civil']
# pega se a pessoa esta desempregada ou empregada
empregada_ou_desempregada = resposta['empregado_ou_desempregado']
# retorna com o que a pessoa estuda ou trabalha
trabalha_ou_estuda_com = ['trabalha_ou_estuda_com']
   </pre>
   <p>Pronto! Você pegou todos as informações que a api forneçe</p>
  </article>
  <br>
  <hr>
  <br>
  <footer>
    <p>Se sinta livre para contribuir, ainda em desenvolvimento na plataforma <a href="https://replit.com">Repl.it</a></p>
    <p>Links: <br><a href="htts://github.com/Los-had/random-person-api">GitHub</a> <br><a href="https://replit.com/@choccy-milk/random-person-api?v=1">Repl.it</a></p>
    <br><hr><br>
    <p>Made by Los-had with ❤</p>
  </footer>
</main>
{% endblock %}