<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Enviar sugestões</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
   <form action="{{ url_for('sucesso') }}" method="post">
    <h3>Email:</h3>
    <input type="email" name="email" id="email" required list="emails" placeholder="<exemplo>@gmail.com">
    <datalist id="emails">
      <option value="@gmail.com"></option>
      <option value="@outlook.com"></option>
      <option value="@hotmail.com"></option>
    </datalist>
    <br><br>
    <h3>Mensagem:</h3>
    <textarea name="texto" id="texto" cols="30" rows="10" required></textarea>
    <br><br>
    <input type="submit" value="Enviar sugestão, ideia ou comentário" onclick="msg()">
   </form>
  <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</body>
</html>
